# httpx is for the worker
httpx>=0.23.0,<0.24.0
# The next three is for Zeebe
zeebe-grpc>=8.0.4,<8.1.0
grpcio>=1.47.0,<1.48.0
Jinja2>=3.1.2,<3.2.0
# And this one is for the http server. Skip if not used (smaller image)
# aiohttp>=3.8.1,<3.9.0

